<header class="jumbotron">
　<div class="container">
　　<h1 class="jumbotron-h2">顔BOOK</h1>
　　<p><img class="img-responsive center" src="../img/jumbomainp.png" alt="face booook"></p>
　</div> <!-- /container -->
</header>
<section class="section" id="head">
	<div class="container">

		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">
		    <p><%= notice %></p>

				<h2 class="title">DIVE20</h2>
				<!-- Short introductory (optional) -->
				<h3 class="tagline">
					I managed to make it.It was quite difficult.<br>
					So, Still more from now.<br>
          This is an appropriate English sentence.
				</h3>


			</div> <!-- /col -->
		</div> <!-- /row -->

	</div>
</section>
